body.admin-menu {
  margin-top: 37px !important;
}

#admin-menu {
  background: #0e272f;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-font-smoothing: antialiased;
}

#admin-menu-icon,
#admin-menu-menu {
  float: left;
}

#admin-menu-account {
  float: right;
}

#admin-menu .dropdown .admin-menu-icon > a span {
  background: url(toolbar.png) no-repeat 0 -45px;
  display: block;
  margin: 10px 6px 0;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
  padding-bottom: 10px;
}

#admin-menu .dropdown .admin-menu-icon a {
  padding: 1px 8px 0;
}

#admin-menu .dropdown .admin-menu-icon ul a {
  padding: 10px 14px 11px;
}

#admin-menu .dropdown li > span {
  border-top: 1px solid #323232;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 14px 11px;
}

#admin-menu .dropdown a {
  border-right: 0;
  font-size: 11px;
  line-height: 1.4;
  padding: 10px 14px 11px;
  font-weight: bold;
}

#admin-menu-menu > li:hover > a,
#admin-menu-icon > li:hover > a {
  background-color: #45454a;
}

#admin-menu .dropdown li li.expandable:hover li a {
  color: #eee;
}

#admin-menu .dropdown li {
  border-left: 1px solid #223c44;
  border-right: 1px solid #000;
}

#admin-menu-icon li:first-child {
  border-left: 0;
}

#admin-menu li:last-child {
  box-shadow: 1px 0 0 #223c44;
}

#admin-menu li li:last-child {
  box-shadow: none;
}

#admin-menu .dropdown li li {
  background-color: #45454A;
  border-left: 0;
  border-right: 0;
  opacity: 1;
}

#admin-menu .dropdown li li.expandable {
  background-position: 145px 50%;
}

#admin-menu .dropdown li li.expandable {
  position: relative;
}

#admin-menu li li .dropdown {
  top: 20px;
}
